body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f8fa;
  color: #333;
}

/* コンテナ */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

/* ヘッダー */
header {
  background: linear-gradient(135deg, #2196f3, #1e88e5);
  color: white;
  padding: 40px 20px;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  margin: 10px 0;
}

/* プロフィール画像（careerページ用） */
.profile-img-intro{
  float:left;
  width: 250px;
  height: auto;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-right: 60px;
  animation: fadeIn 1.5s ease-out;
}

.team-img-intro{
  float:left;
  width: 200px;
  height: 220px;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-right: 60px;
  animation: fadeIn 1.5s ease-out;
}
explanation-text p {
    font-size: 1rem;
    line-height: 1.8; /* 行間を調整 */
    margin-bottom: 1.5em; /* 段落下の余白を調整 */
    text-align: left; /* 左揃えを明示 */
}
/* ナビゲーション */
nav {
  background-color: #1976d2;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 10px 0;
  margin: 0;
  flex-wrap: wrap;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  transition: background 0.3s;
}

nav a:hover {
  background-color: #1565c0;
  border-radius: 4px;
}

/* メインコンテンツ */
main {
  padding: 10px 20px;
}

section {
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  animation: fadeInUp 1s ease;
}

h2 {
  font-size: 1.8rem;
  color: #0d47a1;
  margin-bottom: 20px;
  border-bottom: 2px solid #90caf9;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.4rem;
  color: #1565c0;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.4rem;
  color: #1565c0;
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
  font-size: 1rem;
  margin-bottom: 1em;
}

/* フッター */
footer {
  background-color: #eeeeee;
  text-align: center;
  padding: 100px;
  font-size: 0.9rem;
  color: #555;
}

/* アニメーション */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  .career-img {
    width: 70px;
    height: 70px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 8px 0;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1.2rem;
  }
}
